csvkit
ipython[notebook]
pandas
python-slugify
# da sostituire col package, se viene accettata la pull request
-e git+git@github.com:openpolis/tortilla.git@bafd7f1ef01b0090dd2dc52de46a77cc4460f507#egg=tortilla-dev-reqresp-format
